/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */


/* Fonts Style - Cabin */
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FFF9F1;
    width: 100%;
    /* height: 100vh; */
    font-family: cabin, sans-serif;
}

header {
    /* border: 1px solid grey; */
    width: 100%;
    /* height: 80px; */
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 28px;

}

.logo img {
    width: 136px;
    cursor: pointer;
}

.dateTimeNotification {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuButton, .notification {
    /* border: 1px solid grey; */
    width: 48px;
    height: 48px;
    border-radius: 14px;
    background-color: #F8F8F8;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    & img{
        width: 18px;
    }
}

.menuButton {
    display: none;
}

.dateTime {
    color: #4C4D4F;
    font-size: 14px;

    & .date {
        margin: 0 56px;
    }
    & .time {
        margin: 0 41px 0 0;
    }
}



h1 {
    color: #4C4D4F;
    font-weight: regular;
    font-size: 30px;
}

.mainSection {
    width: 100%;
    display: flex;
}

aside {
    /* border: 1px solid grey; */
    min-width: 240px;
    /* height: 100vh; */
    /* height: 100%; */
    background: #fff;
    /* display: none; */
}

nav {
    margin-top: 30px;
    & ul li {
        list-style: none;
        margin: 5px 14px;
        
        
        & a {
            /* border: 1px solid grey; */
            display: block;
            text-decoration: none;
            border-radius: 14px;
            font-size: 18px;
            color: #4C4D4F;
            padding: 10px 16px;

            transition: all .25s ease-in-out;
            

            &.active, &:hover {
                background-color: #FFF9F1;
            }
        }
    }

    & .subMenu {
        & li {
            /* border: 1px solid grey; */
            margin: 10px 18px;

            & a {
                /* border: 1px solid grey; */
                font-size: 14px;
                /* padding: 0; */
                padding: 5px 10px;
                margin: 2px;
            }
        }
         
    }

}

/* main {
    padding: 32px 24px;

    & h1 {
        font-size: 30px;
        font-weight: 400;
        color: #4C4D4F;
    }

    & h3 {
        font-size: 14px;
        font-weight: 400;
        color: rgba(76, 77, 79, 0.85);
        margin-top: 12px;
    }
} */




/* Media Query - Tablets Devices */
@media (max-width: 834px) {
    header {
        /* border: 1px solid grey; */
        width: 100%;
        /* height: 80px; */
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px 32px;
    }

    .menuButton {
        display: flex;
    }
    .dateTime {
        display: none;
    }


    
    h1 {
        color: #1100ff;
        font-weight: regular;
        font-size: 30px;
    }
    
    aside {

        width: 240px;
        /* height: 100vh; */
        background: #fff;
        display: none;
    }
}

/* Media Query - Mobile Devices */
@media (max-width: 480px) {
    header {
        /* border: 1px solid grey; */
        width: 100%;
        /* height: 80px; */
        background: #fff;
        display: flex;
        justify-content: space-between;
        padding: 16px 24px;
    }
    
    h1 {
        /* color: #4C4D4F; */
        color: red;
        font-weight: regular;
        font-size: 30px;
    }
    
    aside {
        /* border: 1px solid grey; */
        width: 400px;
        /* height: 100vh; */
        background: #fff;
    }
}










main {
  width: 100%;
  padding: 32px 24px;

  & h1 {
      font-size: 30px;
      font-weight: 400;
      color: #4C4D4F;
  }

  & h3 {
      font-size: 14px;
      font-weight: 400;
      color: rgba(76, 77, 79, 0.85);
      margin: 12px 0 24px 0;
  }
}


.mainContainer {
  /* border: 1px solid grey; */
  width: 100%;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
}

.invoiceContainer, .invoicePreviewContainer {
  /* border: 1px solid grey; */
  border-radius: 14px;
  background: #fff;
  width: 100%;

}

.searchAndFilter {
  /* border: 1px solid grey; */
  border-bottom: 1px solid rgba(76, 77, 79, 0.2);
  position: relative;
  height: 65px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  padding: 20px 28px 0 28px;

}

.searchBox {
  /* border: 1px solid #4C4D4F; */
  border-radius: 8px;
  /* width: 310px; */
  width: clamp(100px, 90%, 310px);
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F8F8F8;
  /* margin: 10px 28px; */
  

  & input[type="text"] {
      
      /* border: 1px solid grey; */
      border: none;
      padding: 8px 15px ;
      /* width: 272px; */
      /* width: 100px; */
      width: clamp(100px, 90%, 272px);
      height: 35px;
      background: transparent;
      font-size: 10px;
      color: #4C4D4F;
  }

  & .searchButton {
      cursor: pointer;
      display: flex;
      align-items: center;
  }

  & span .line {
      margin-right: 8px;
      height: 16px;
  }
  & span .search {
      margin-right: 15px;
      width: 12px;
  }

  & *:focus {
      outline: none;
  }

  ::placeholder {
      color: rgba(76, 77, 79, 0.5);
      opacity: 1; /* Firefox */
    }
    
    ::-ms-input-placeholder { /* Edge 12 -18 */
      color: rgba(76, 77, 79, 0.5);
    }
}

.filterDate {
  /* border: 1px solid #4C4D4F; */
  border-radius: 8px;
  /* width: 159px; */
  width: clamp(40px, 90%, 159px);
  height: 35px;
  display: flex;
  align-items: center;
  background-color: #F8F8F8;
  font-size: 10px;
  color: #4C4D4F;

  & input[type="text"] {
      
      /* border: 1px solid grey; */
      border: none;
      padding: 8px 2px;
      text-align: left;
      /* width: 45px; */
      width: clamp(40px, 90%, 45px);
      height: 35px;
      background: transparent;
      font-size: 10px;
      color: #4C4D4F;
  }

  & .selectDate {
      /* border: 1px solid grey; */
      width: 60px;
      margin-left: 15px;
  }

  & .line {
      margin-right: 5px;
      margin-left: 8px;
      height: 16px;
  }
  & .arrow {
      margin-right: 15px;
      width: 12px;
  }

  & *:focus {
      outline: none;
  }
}

.invoiceListTable {
  border: 1px solid rgba(76, 77, 79, 0.2);
  border-radius: 14px;
  margin: 25px;
  /* width: 100%; */
  font-size: 10px;
}

.invoiceListTable table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;

  & th, td {
      color: #4C4D4F;
      padding: 18px;
      border: none;
      border-bottom: 1px solid rgba(76, 77, 79, 0.2);
      font-weight: 400;
      background: #F8F8F8;
  }

  /* & tr:last-child td {
      border:none;
  } */

  & thead th, tr.active td {
      background: #fff;
  }

  & tr:first-child th:first-child {
      border-top-left-radius: 14px;
  }
  & tr:first-child th:last-child {
      border-top-right-radius: 14px;
  }


  & a {
      text-decoration: none;
      color: #fff;
      padding: 3px 12px;
      border-radius: 10.5px;
  }

  & tfoot {
      & td {
          border: none;
          text-align: center;
          font-size: 14px;
      }
      & a {
          text-decoration: underline;
          color: #4C4D4F;
          display: block;
          margin-top: -15px;
          /* margin-bottom: 5px; */
      }

      & tr:last-child td:first-child {
          border-bottom-left-radius: 14px;
      }
      & tr:last-child td:last-child {
          border-bottom-right-radius: 14px;
      }
  }


  & th .actionButton, tbody td.actionButton {
      text-align: right;
      width: 75px;
  }

  & th .actionButton {
      /* border: 1px solid grey; */
      display: block;
      width: 75px;
      text-align: left;
  }

  & .inProgressButton {
      background-color: #F1B34A;
  }
  & .canceledButton {
      background-color: #FFF9F1;
      color: #4C4D4F;
  }
  & .completeButton {
      background-color: #36C490;
  }
}


/* Pseudo-elements for Date */
/* ::-webkit-datetime-edit
::-webkit-datetime-edit-fields-wrapper
::-webkit-datetime-edit-text
::-webkit-datetime-edit-month-field
::-webkit-datetime-edit-day-field
::-webkit-datetime-edit-year-field
::-webkit-inner-spin-button
::-webkit-calendar-picker-indicator */

/* input[type="date"]::-webkit-calendar-picker-indicator {
  border: 1px solid grey;
  background: transparent;
  color: transparent;
  cursor: pointer;
  height: 15px;
  width: 20px;
  position: absolute;
  right: 0;
} */


.invoiceContainer {
  /* border: 1px solid grey; */
  /* width: 751px; */
  height: 761px;
  flex: 65%;
  /* display: none; */
  
}

.invoicePreviewContainer {
  /* border: 1px solid grey; */
  /* width: 377px; */
  height: 761px;
  flex: 35%;
  /* display: none; */
  padding: 25px;

  & .previewInvicePrint {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 10px;

      & h3 {
          color: #000;
      }

      & .printerIcon{
          width: 38px;
          height: 38px;
          background: #F8F8F8;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 8px;
          cursor: pointer;

          & img {
              height: 18px;
          }
      }


  }
  
}

.invoicePreview {
  border: 1px solid rgba(76, 77, 79, 0.2);
  border-radius: 10px;
  padding: 25px;
  padding-bottom: 0;
  & img {
      width: 90.67px;
      padding-bottom: 18px;
  }

  & .summery {
      display: flex;
      align-items: center;

      & span {
          padding-right: 5px;
          font-size: 10px;
          color: #4C4D4F;
      }

      & hr {
          width: 100%;
          background: #4C4D4F;
          opacity: 0.5;
      }
  }

  & .doctorPatientName {
      font-size: 12px;
      color: #000;
      padding: 25px 0;

      /* & span {
          padding-right: 35px;
      } */

      & span:last-child {
          padding-left: 35px;
      }
  }

  .invoicePreviewTable {
      /* border: 1px solid rgba(76, 77, 79, 0.2); */
      /* border-radius: 5px; */
      font-size: 10px;

      & .listTable {
          border: 1px solid rgba(76, 77, 79, 0.2);
          border-radius: 5px;

          & table {
              width: 100%;
              text-align: right;
              /* font-size: 10px; */
              border-collapse: collapse;
  
              & th, & td {

                  font-size: 10px;
                  color: #4C4D4F;
                  padding: 18px 10px;
                  /* border: none; */
                  /* border-bottom: 1px solid rgba(76, 77, 79, 0.2); */
                  &:first-child {
                      text-align: left;
                      padding-left: 18px;
                  }
                  &:last-child {
                      padding-right: 18px;
                  }
              }
  
              & thead th {
                  color: #fff;
                  background: #000;
                  /* border: 1px solid rgba(76, 77, 79, 0.2); */
  
                  &:first-child {
                      border-top-left-radius: 5px;
                  }
                  &:last-child {
                      border-top-right-radius: 5px;
                  }
  
              }

              & tbody td {
                  padding-bottom: 0;
              }
              & tbody tr:last-child td {
                  padding-bottom: 18px;
              }
  
  
          }
      }

      & .calcTable {
          /* border-bottom: 1px solid rgba(76, 77, 79, 0.2); */
          border-radius: 5px;

          & table {
              width: 100%;
              text-align: right;
              border-collapse: collapse;

              & th, & td {
                  font-size: 10px;
                  color: #4C4D4F;
                  padding: 18px 10px;
                  /* border-bottom: 1px solid rgba(76, 77, 79, 0.2); */
                  &:last-child {
                      padding-right: 18px;
                  }
              }

              & tfoot td {
                  padding-bottom: 0;
                  color: rgba(76, 77, 79, 0.5);
              }
              & tfoot tr:nth-last-child(-n+2) td {
                  padding-bottom: 18px;
              }

              & tfoot tr:first-child td, tfoot tr:last-child td {
                  color: #4C4D4F;
                  font-weight: 600;
              }

              & tfoot tr:last-child td {
                  padding-bottom: 18px;
                  border-top: 1px solid rgba(76, 77, 79, 0.2);

              }
  
          }
      }
        
  }

  .notesTerms {
      background: #F8F8F8;
      padding: 10px 18px 25px 18px;
      margin-bottom: 18px;

      & h3 {
          font-size: 10px;
          font-weight: 500;
          line-height: 0;
          margin-bottom: 18px;
      }

      & p {
          color: rgba(0, 0, 0, 0.5);
          line-height: 0;
      }
  }

}

.createInvoiceBtn {
  width: 184px;
  height: 48px;
  background: #000;
  color: #fff;
  border-radius: 24px;
  margin: 25px auto;
  display: block;
  border: none;
  cursor: pointer;
}



/* Media Query - Tablets Devices */
@media (max-width: 834px) {
  main {
      padding: 32px;
  }

  .mainContainer {
      flex-direction: column;
  }

  .invoiceContainer, .invoicePreviewContainer {
      flex: 100%;
  }
  
  .invoiceContainer {
      background: transparent;
  }
  
  /* .invoicePreviewContainer {
      
  } */

  .invoiceListTable {
      border: none;
  }
  
  .invoiceListTable table {
      & th, td {
          /* border-bottom: 1px solid rgba(76, 77, 79, 0.2); */
          background: transparent;
      }

      & th {
          border: none;
      }
  }

}

/* Media Query - Mobile Devices */
@media (max-width: 480px) {
  /* main {
      padding: 32px;
  } */
}
